x-service-defaults: &service-defaults
  #restart: "on-failure" 
  restart: "unless-stopped"
  #security_opt:
  #  - "no-new-privileges:true"
  logging:
    driver: "json-file"
    options:
      max-size: "20m"
      max-file: "5"
      #mode:     "non-blocking"

services:
  app:
    <<: *service-defaults
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../..:/workspaces:cached

    environment:
      - "ConnectionStrings__PgDb=Host=postgres:5432;Database=postgres;Username=postgres;Password=postgres;Host Recheck Seconds=1"
      - "ConnectionStrings__PgDbRo=Host=postgres:5432;Database=postgres;Username=postgres;Password=postgres;Host Recheck Seconds=1"
      - "ConnectionStrings__Redis=redis:6379"
      - "AWS__ServiceURL=http://minio:9000"

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:postgres
    
    # Uncomment to connect as root instead. More info: https://aka.ms/dev-containers-non-root.
    # user: root

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)
  #END app

  postgres:
    <<: *service-defaults
    image: postgres:16.8-alpine@sha256:3b057e1c2c6dfee60a30950096f3fab33be141dbb0fdd7af3d477083de94166c
    volumes:
    #  - postgres-data:/var/lib/postgresql/data
      - type: tmpfs
        target: /var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      
    # Add "forwardPorts": ["5432"] to **devcontainer.json** to forward PostgreSQL locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
  #END postgres

  redis:
    <<: *service-defaults
    image: redis:7.4.3-alpine@sha256:f773b35a95e170d92dd4214a3ec4859b1b7960bf56896ae687646d695f311187
    volumes:
      - type: tmpfs
        target: /data
    # networks:
    #   - default
    #   - redisinsight
  #END redis

  minio:
    <<: *service-defaults
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z@sha256:a1ea29fa28355559ef137d71fc570e508a214ec84ff8083e39bc5428980b015e
    # ports:
    #   - "9000:9000"
    #   - "9001:9001"
    environment:
      MINIO_ROOT_USER: "ROOTNAME"
      MINIO_ROOT_PASSWORD: "CHANGEME123"
    volumes:
      - type: tmpfs
        target: /data
    command: server /data --console-address ":9001"
  #END minio

#volumes:
#  postgres-data:

# networks:
#   pgadmin:
#     external: true
#   redisinsight:
#     external: true